.abhead{
    position: relative;
}
.abhead h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 300;
    transform: translate(-50%,-50%);
}
.abhead img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.3;
}
.grid-container img{
    height: 400px;
}
.aboutUsContent
{
    letter-spacing: 1px;
    font-weight: 200;
    margin-top: 3%;
    margin-bottom: 3%;
}
.container-cell{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-cell p{
    width: 60%;
    font-size: 2em;
    font-weight: 200;
}
.container-center{
    background-color: hsl(0, 0%, 25%);
    padding: 10px;
    margin-left: -20px;
    margin-bottom: 20px;
}
.container-center h2{
    font-weight: 300;
}