@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
.cs-container{

    margin: auto;
    border-radius: 50px;
    padding: 30px;
    background-color: transparent;
    margin-top: 40px;
    margin-bottom: 80px;
}
.h{
    text-align: center;
    font-weight: 200;
}
.cs-container input{
    border-radius: 50px;
    border: 1px solid grey;
    background-color: white;
    padding: 10px;
    font-size: 1.1em;
    color: black;
    transition: 0.2s ease-in-out all;
    box-shadow: 1px 1px 1px black;
}
.cs-container input:hover{
    transform: scale(1.05);
}
.cs-container button{
    background-color: transparent;
    border: none;
    font-size: 2em;
    transition: 0.2s ease-in-out all;
}
.cs-container button:hover{
    transform: scale(1.1);
    transform: translateY(-5px);
    color: rgba(255, 255, 255, 0.363);
    
}
.cs-container .ai-a{
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}
.cs-container .ai{
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 1px black;
    width: 50%;
    margin: auto;
}
.cs-container form{
    text-align: center;

}
.cs-top{
    position: relative;
}
.cs-top .h{
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cs-top img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.cs-top .cs-p{
    width: 100%;
}
 .cs-flex{
    display: flex;
    justify-content: space-around;
}
.cs-flex span{
    width: 19%;
}
h4{
    font-weight: 200;
}